<a href="https://colab.research.google.com/github/kashish03-sk/python-basics/blob/main/data%20types%20and%20structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data types and structures questions-
1. What are data structures, and why are they important?

-data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently.they are foundational to computer science and programming because they directly affect the performance and scalability of software.

2. Explain the difference between mutable and immutable data types with examples?

-mutable data types are the objects which can be modified after they are created for example list,dictionary and sets in python.

immutable data types are the objects which cannot be changed after creation for example int,float,str,tuple in python.

3. What are the main differences between lists and tuples in Python?

-  list are mutable whereas tuples are immutable.
   
   tuples are faster as compared to list.

   list have dynamic collection whereas tuples have fixed settings and functions.

   list have square brackets whereas tuples have parentheses.

   list don't allow dictionary keys whereas tuple allow it.

4. Describe how dictionaries store data?

-dictionaries in python store data using a key value structure,and they do this internally using a hash table.

5. Why might you use a set instead of a list in Python?

-sets only store unique elements but list allow duplicates,set check membership faster.set make it easy to do operations like union,intersection,and difference.

6. What is a string in Python, and how is it different from a list?

-A string in python is a sequence of characters,used to store and represent text.it's enclosed in quotes-either single(')or double(").

string works with texts whereas list work in collection of items.
string is immutable but list is mutable.

7. How do tuples ensure data integrity in Python?

-tuples help ensure data integrity primarily through their immutability,once created,a tuple cannot be changed.this makes them ideal for storing fixed,unchangeable data and preventing accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?

-A hash table is a data structure that stores key value pairs and allows for fast access to data.it does this by using a hash function to compute an index into an internal array where the data is stored.

a hash table is the engine behind python's dictionary.it uses hashing to provide fast lookups,insertion,and deletion.this is why dictionaries are one of the most powerful and efficient built in types in python.

9. Can lists contain different data types in Python?

-yes,unlike some languages that requries all element in a list to be the same type,python list are flexible and dynamic,allowing you to store a mix of data types in the same list.

10. Explain why strings are immutable in Python?

-string immutability enhances performances,safety and program correctness in python.

11. What advantages do dictionaries offer over lists for certain tasks?

- Fast Lookup by Key

Dictionaries provide constant time (O(1)) average-case lookup for values using keys.

Lists require linear time (O(n)) lookup if you're searching for an item or index by value.

Key-Value Pairing

Dictionaries store data as key-value pairs, which is great for mapping relationships.

Lists only store sequences of values, which makes associating elements more cumbersome.

 Keys make code more readable and meaningful than index-based access in lists.

With dictionaries, you don't have to manage or remember indices—just use meaningful keys.

12. Describe a scenario where using a tuple would be preferable over a list.

-Suppose you’re writing a function that calculates both the quotient and remainder of a division operation. You want to return both results to the caller.

def divide(a, b):
    quotient = a // b
    remainder = a % b
    return (quotient, remainder)


And then use it like this:

q, r = divide(10, 3)
print(f"Quotient: {q}, Remainder: {r}")

                                                |
The result shouldn't change accidentally—tuples protect the data.
You know there will always be exactly two values with fixed roles.
Returning a tuple signals a structured, unchanging result.
Tuples support clean, intuitive unpacking into variables.

Use a tuple over a list when:

You’re working with a fixed-size group of related values.

The data should not be modified.

You want clean unpacking into separate variables.

You want to signal that the structure and order are important and constant.


13. How do sets handle duplicate values in Python?

-In Python, sets automatically remove duplicates. A set is an unordered collection of unique elements, so if you try to add a duplicate, it’s ignored.

14. How does the “in” keyword work differently for lists and dictionaries?

-The in keyword behaves differently for lists and dictionaries in Python because they are fundamentally different data structures.

 In Lists: Checks for Values
 In Dictionaries: Checks for Keys

15. Can you modify the elements of a tuple? Explain why or why not.

-No, you cannot modify the elements of a tuple in Python — tuples are immutable.

Immutability means that once a tuple is created, its contents cannot be changed. This includes:

You can't change individual elements.

You can't add or remove elements.

16. What is a nested dictionary, and give an example of its use case?

-A nested dictionary is a dictionary inside another dictionary. It allows you to store hierarchical or structured data in a more organized way.

Common Use Cases:

User profiles with settings or permissions.

JSON data structures.

API responses.

Game state tracking (e.g., players → inventory → items).

17. Describe the time complexity of accessing elements in a dictionary.

-Accessing elements in a Python dictionary is typically very fast due to its internal hash table implementation.

Average Case: O(1) (Constant Time)
When you access a value using a key:

user = {'name': 'Alice', 'age': 30}
print(user['age'])  # 30

Python computes the hash of the key to find the correct location in memory.

This operation generally takes constant time, regardless of the dictionary’s size.

 Worst Case: O(n) (Linear Time)

This happens rarely, in cases like:

Hash collisions: Multiple keys map to the same hash.

Poor hash function performance or malicious input.

In such cases, Python may need to scan multiple entries, degrading performance.

18.In what situations are lists preferred over dictionaries?

-Python lists are ideal in cases where you need a simple, ordered collection of items without the complexity of key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-Dictionaries are logically unordered because access is by key, not by position.

Even if they preserve insertion order, they are not a substitute for lists when position-based access is required.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

-Lists store data in an ordered sequence.

 retrieve items using integer indexes (starting at 0).

 Dictionaries store data as key-value pairs.

 retrieve items using unique keys (e.g., strings, numbers, tuples).

# practical questions

In [6]:
#1. Write a code to create a string with your name and print it.
name ='kashish sharma'
print("name: ",name)

name:  kashish sharma

In [8]:
#2.Write a code to find the length of the string "Hello World".
text ="hello world"
length=len(text)
print("length of the string is: ",length)

length of the string is:  11

In [9]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
# Define the string
text = "Python Programming"

# Slice the first 3 characters
first_three = text[:3]

# Print the result
print("First 3 characters:", first_three)

First 3 characters: Pyt

In [10]:
#4.Write a code to convert the string "hello" to uppercase.
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

In [11]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
# Define the original string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

In [12]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers=("1,2,3,4,5")
print("list of numbers: ",numbers)

list of numbers:  1,2,3,4,5

In [20]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
# Define the original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [22]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers=[1,2,3,4,5]
numbers.remove(3)
print("updated list: ",numbers)

updated list:  [1, 2, 4, 5]

In [25]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

In [27]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10,20,30,40,50]
reverse=lst[::-1]
print("reversed list: ",reverse)

reversed list:  [50, 40, 30, 20, 10]

In [28]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print("tuples are: ",tuple)

tuples are:  (100, 200, 300)

In [29]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

In [30]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers=(10,20,5,15)
minimum=min(numbers)
print("minimum number is: ",minimum)

minimum number is:  5

In [33]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
index=tuple.index('cat')
print("index of cat: ",index)

index of cat:  1

In [35]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("apple,mango,lichi")
if 'kiwi' in fruits:
  print("kiwi is in it")
else:
  print("kiwi is not in it")

kiwi is not in it

In [37]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'b', 'a', 'c'}

In [38]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the result
print("Cleared set:", numbers)

Cleared set: set()

In [42]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
# Define the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print("Updated set:", numbers)

Updated set: {1, 2, 3}

In [43]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [44]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [45]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Create the dictionary
person = {
    "name": "kashish",
    "age": 20,
    "city": "durg"
}

# Print the dictionary
print("Person dictionary:", person)

Person dictionary: {'name': 'kashish', 'age': 20, 'city': 'durg'}

In [46]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [47]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value for key "name"
name_value = person['name']

# Print the value
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

In [48]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [49]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [50]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = ('a', 'b', 'c')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

In [54]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced)
import random

# Create list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", numbers)

Sorted list of random numbers: [20, 28, 45, 74, 98]

In [55]:
#28. Write a code to create a list with strings and print the element at the third index
# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index
print("Element at index 3:", my_list[3])

Element at index 3: date

In [56]:
#29. Write a code to combine two dictionaries into one and print the result
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'job': 'Engineer'}

# Combine dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [80]:
#30. Write a code to convert a list of strings into a set
str={'1','2','2','3'}
set1=(str)
type(set1)

set